<h1>Pagina estatica 1: Basics</h1>

<p>Recurso: consiste en un grupo de elementos que permiten identificar elementos de la cotidianidad dentro del aplicativo</p>
<p>Los recursos pueden ser creados, actualizados, eliminados o leidos dentro del aplicativo</p>
<p>El RESTful Routing consiste en un conjunto de sentencias denominadas "rutas" las cuales permiten identificar de manera unica cada una de las paginas que conforman el aplicativo web.</p>
<p>El RESTful Routing cuenta con 5 acciones basicas para permitir la comunicacion entre el cliente y el servidor las cuales son</p>
<ul>
	<li>POST: crear recursos</li>
	<li>GET: obtener o consultar recursos</li>
	<li>DELETE: eliminar recursos</li>
	<li>PUT: actualizar recursos</li>
	<li>PATCH: actualizar partes especificas de un recurso</li>
</ul>

