<h1>Pagina estatica 3: Git</h1>

<span>Conceptos basicosos de GIT </span>

<ul>	
	<li>Inicializacion de un repositorio: <b>git init</b></li>
	<li>Creacion de un branch nuevo: <b>git chechkout -b branch_name</b></li>
	<li>Realizar un commit incluyendo todos los cambios actuales: <b>git commit -a -m "commit message"</b></li>
	<li>Enviar codigo al repositorio remoto: <b>git push -u remote_repo</b></li>
	<li>Configuracion del origen de un repositorio remoto: </li>
	<li>Git reset -> descarta los cambios realizados en el directorio de trabajo ---- Git revert -> Utilizado para deshacer un commit previo</li>
	<li>Usos de git checkout: reemplazo de cambios locales con los ultimos contenidos en el repositorio; moverse entre ramas; creacion de ramas</li>
	<li>Visualizacion de commits: <b>git log</b></li>
	<li><b>git commit -m 'message' ./file1.ext</b></li>
	<li><b>git commit -m 'message2' ./file2.ext</b></li>
</ul>
