<h1 class='home-header'>Pagina estatica - Home</h1>

<p> Fecha y hora local: <%= Time.new.to_s.split('-')[0..2].join('-') %> </p>

<br>
<a href="static_pages/basics"> Link to basics</a>
<br>
<a href="static_pages/ruby"> Link to ruby</a>
<br>
<a href="static_pages/git"> Link to git</a>
