<h1>Pagina estatica 2: Ruby</h1>

<span> Conceptos basicos de Ruby </span>

<ul>
	<li>Interpolacion de cadenas: <b>" #{string_name} Hello #{string_name2}"</b></li>
	<li>Declaracion de arrays: <b>a = [1, 2, 3]</b></li>
	<li>Agregar elementos al final de un array: <b>a.push(new_element)</b></li>
	<li>Iteracion de un arreglo usando la palabra <em>each</em>: <b>array.each {|iteraror_name| block}</b></li>
	<li>Declaracion de hash: <b>my_hash = {}</b></li>
	<li>Iteracion sobre un hash usando la palabra <em>each</em>: <b>hash.each { |key_iterator, value_iterator| block }</b></li>
	<li>Bloques es Ruby: un bloque es una porcion de codigo la cual se encuentra dentro de llaves o dentro de una sentencia do - end</li>
	<li><ol>
			<b>Ejemplo</b>
			<li>    (1..5).each do |i|</li>
			<li>        puts 2 * i</li>
			<li>    end</li>
		</ol> 
	</li>
	<li>Convencion para nombramiento de variables: <b>lowercase_separated_by_underscores</b></li>
	<li>Los metodos <b>attr_reader, attr_writter y attr_accessor</b> son funciones que permiten acceder a los atributos de una clase</li>

</ul>